body {
  background-color: #F8F8F8;
  font-family: 'Kumbh Sans', sans-serif;
}

.project-box {
  width: 700px;
  margin: 200px auto 0 auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  min-height: 500px;
  padding: 30px;
}

.notice-me-senpai {
  font-size: 48px;
  color: #189ad3;
}

/* Input Grid */
.input-grid {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.input-grid .input-container {
  flex: 0 1 50%;
}

.input-grid .input-container:nth-last-child(n+3) {
  margin-bottom: 20px;
}

.input-grid .input-container label {
  display: block;
}